* {
	transition: all .3s linear;
}
body {
	font-family: sans-serif;
	font-size: 16px;
}
.wrap {
	width: 400px;
	outline: 2px solid red;
	height: 400px;
	margin: 0px auto;
	margin-top: 50px;
	position: relative;
}
.navigation {
	position: relative;
}
.btn {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #fff;
	cursor: pointer;
	font-size: 25px;
	border: none;
	box-shadow: 0px 0px 10px 0px rgb(139, 139, 139);
	position: absolute;
}
.btn:hover {
	box-shadow: 0px 0px 10px 0px rgb(235, 164, 11);
}
.btn:active {
	box-shadow: 0px 0px 10px 0px rgb(235, 11, 11);
	transform: scale(0.97);
}
.btn-up {
	bottom: -207px;
	left: 64px;
}
.btn-right {
	top: 235px;
	left: 120px;
}
.btn-down {
	bottom: -261px;
	left: 64px;
}
.btn-left {
	top: 235px;
	left: 9px;
}

.elem {
	width: 25px;
	height: 25px;
	background-color: rgb(230, 19, 19);
	border-radius: 3px;
	cursor: pointer;
	position: absolute;
	
	
}
